<% include partials/header %>
<h1><%= title %></h1>

<form method="POST" action="/users/add">
    <label>Name</label>
    <input type="text" name="name" >
    <br>
    <label>Age</label>
    <input type="text" name="age">
    <br>
    <label>Email</label>
    <input type="text" name="email">
    <br>
    <button type="submit">Submit</button>
</form>

<ul>
   <% users.forEach(function(user) { %>
    <li><%= user.name %> (<%= user.age %> )</li>
   <%}) %>
</ul>
<% include partials/footer %>