<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue test</title>

</head>
<body>
    <div id="app">
        <h1>{{message}}</h1>
        <h2>{{firstName}} {{lastName}}</h2>
        <input type="text" v-model="firstName"> <input type="text" v-model="lastName">
        <h3>{{currentTime}}</h3>
        <button v-on:click="printMessage('Hi')" v-bind:disabled="isDisabled">This is my button</button>
        <div>
            <ul id="example-1">
                <li v-for="user in users"> 
                    <user :user='user' ></user>
                </li>
            </ul>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index-vue.js"></script>
</body>
</html>