<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script >
$(".btn_remove").click(function () {
    let _id = $(this).attr("data-user");
    //let _id = $(this).data("user");
    if(confirm(`Ar tikrai norite istrinti useri ${_id}?`)){
        $.ajax({
            type:'DELETE',
            url: '/users/remove/' + _id,
            //data: {id: _id}
            success: function (response) {
                //Success
                console.log('success!');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //Error
                console.log('error!');
                console.log(jqXHR+textStatus+errorThrown);
            }
        }).done(function(response){
            alert('calling done!');
            window.location.replace('/');
        });
        
    }else{
        return false;
    }
});
</script>
</body>
</html>
